<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emmahogan.gedcourse">

    <application
        android:name="com.emmahogan.gedcourse.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GEDCourse">
        <activity android:name=".SyllabusActivity"></activity>
        <activity android:name=".instruction.CourseComplete" />
        <activity android:name=".quiz.FinishQuiz" />
        <activity android:name=".quiz.TakeQuiz" />
        <activity android:name=".quiz.QuizActivity" />
        <activity android:name=".instruction.LessonView" />
        <activity android:name=".Instruction" />
        <activity android:name=".articles.read_article" />
        <activity android:name=".articles.list_articles" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>